
*.pdb
*.obj
*.pdb
*.cache
*.txt
*.tlog
*.log
*.recipe
*.log
*.tlog
*.log
*.ipch
*.db
*.db-shm
.vs/lddw3Client/v16/.suo
*.db-wal
.vs/lddw3Client/v16/Browse.VC.opendb
.vs/lddw3Client/v17/.suo
Debug/BouncyCastle.Crypto.dll
Debug/Google.Protobuf.dll
Debug/K4os.Compression.LZ4.dll
Debug/K4os.Compression.LZ4.Streams.dll
Debug/K4os.Hash.xxHash.dll
Debug/lddw3Client.exe
Debug/lddw3Client.exe.config
Debug/lddw3Client.exe.metagen
Debug/MySql.Data.dll
Debug/MySql.Data.xml
Debug/System.Buffers.dll
Debug/System.Memory.dll
Debug/System.Numerics.Vectors.dll
Debug/Ubiety.Dns.Core.dll
Debug/ZstdNet.dll
lddw3Client/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.obj
lddw3Client/Debug/lddw3Client.exe.config
lddw3Client/Debug/lddw3Client.exe.recipe
lddw3Client/Debug/lddw3Client.log
lddw3Client/Debug/lddw3Client.tlog/CL.command.1.tlog
lddw3Client/Debug/lddw3Client.tlog/CL.read.1.tlog
lddw3Client/Debug/lddw3Client.tlog/CL.write.1.tlog
lddw3Client/Debug/lddw3Client.tlog/lddw3Client.lastbuildstate
lddw3Client/Debug/lddw3Client.tlog/lddw3Client.write.1u.tlog
lddw3Client/Debug/lddw3Client.tlog/link.command.1.tlog
lddw3Client/Debug/lddw3Client.tlog/link.read.1.tlog
lddw3Client/Debug/lddw3Client.tlog/link.write.1.tlog
lddw3Client/Debug/lddw3Client.tlog/metagen.read.1.tlog
lddw3Client/Debug/lddw3Client.tlog/metagen.write.1.tlog
lddw3Client/Debug/lddw3Client.vcxproj.CopyComplete
lddw3Client/Debug/lddw3Client.vcxproj.FileListAbsolute.txt
lddw3Client/Debug/lddw3Client.vcxproj.GenerateResource.cache
lddw3Client/Debug/lddw3Client.vcxproj.SuggestedBindingRedirects.cache
lddw3Client/Debug/MyForm.obj
lddw3Client/Debug/vc143.pdb
lddw3Client/Debug/vc143.pdb
lddw3Client/lddw3Client.vcxproj.filters
*.tlog
lddw3Client/Debug/lddw3Client.tlog/CL.read.1.tlog
*.tlog
*.tlog
*.cache
*.obj
*.config
*.recipe
*.log
*.tlog
*.cache
*.CopyComplete
*.xml
Release/BouncyCastle.Crypto.dll
Release/Google.Protobuf.dll
Release/K4os.Compression.LZ4.dll
Release/K4os.Compression.LZ4.Streams.dll
Release/K4os.Hash.xxHash.dll
Release/lddw3Client.exe
Release/lddw3Client.exe.metagen
Release/MySql.Data.dll
Release/System.Buffers.dll
Release/System.Memory.dll
Release/System.Numerics.Vectors.dll
Release/Ubiety.Dns.Core.dll
Release/ZstdNet.dll
*.exe
*.vcxproj
*.res
*.aps
*.rc
*.h
*.cache
